@function increase-brightness($color, $percentage) {
  $hsl-color: hsl(
    hue($color),
    saturation($color),
    $percentage
  );
  @return $hsl-color;
}

$color-info: #A9A4B8;
$color-primary: #4A588E;
$color-success: #0ABD98;
$color-danger: #B35567;
$color-warning: #FD6A03;

$base-color-names: primary, success, danger, warning, info;


:root {
  color-scheme: light;
  --eb-bg-color: #ffffff;
  --eb-bg-color-page: #f8f8f8;
  --eb-text-color: #333333;
  --eb-text-color-primary: #000000;
  --eb-text-color-secondery: #666666;
  --eb-text-color-placeholder: #9FAAB7;
  --eb-border-color: #9FAAB7;

  @each $color-name in $base-color-names {
    $base-color: $color-info;
    @if $color-name == primary {
      $base-color: $color-primary;
    }
    @if $color-name == success {
      $base-color: $color-success;
    }
    @if $color-name == warning {
      $base-color: $color-warning;
    }
    @if $color-name == danger {
      $base-color: $color-danger;
    }
    --eb-color-#{$color-name}: #{$base-color};
    @for $i from 1 through 9 {
      --eb-color-#{$color-name}-light#{$i}: #{mix($base-color, white, 100% - 8% * $i)};
    }
    @for $i from 1 through 9 {
      --eb-color-#{$color-name}-dark#{$i}: #{mix($base-color, black, 100% - 8% * $i)};
    }
  }
}

body.dark {
  color-scheme: dark;
  --eb-bg-color: #0a0a0a;
  --eb-text-color: #E5EAF3;
  --eb-text-color-primary: #E5EAF3;
  --eb-text-color-secondery: #A3A6AD;
  --eb-border-color: #dcdfe6;
}
