*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.4;
  background-color: var(--eb-bg-color);
  color: var(--eb-text-color);
  font-size: var(--eb-font-size-base);
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &.light {
    color-scheme: light;
    transition: ease-in .3s;
  }
  &.dark {
    color-scheme: dark;
    transition: ease-in .3s;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --eb-font-size-base: 14px;
  --eb-font-size-small: 13px;
  --eb-font-size-extra-small: 12px;
}

@import "./default/color.scss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--eb-color-info);
  opacity: .4;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color:  var(--eb-color-info-light9);
}

.eb-bordered {
  border: 1px solid var(--eb-border-color);

  &.dashed {
    border-style: dashed;
  }

  &.dotted {
    border-style: dotted;
  }
}